.navigation-item {
  margin: auto;
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 18%;
  width: 95%;
  transition: 0.3s ease-in;
  font-size: 14px;
  color: rgb(170, 170, 170);
  border-radius: 15px;
  cursor: pointer;
}

.navigation-item:hover{
  color: rgb(0, 104, 31);
  text-decoration: none;
}

.navigation-item div{
  padding-left: 20px;
}

.active{
  color: rgb(0, 104, 31);
  background: rgba(80, 255, 80, 0.15);
}

