.button-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 50px;
  width: 200px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px lightgray;
  color: rgb(43, 43, 43);
  transition: 0.2s ease-in;
  font-weight: 500;
}

.button:hover {
  cursor: pointer;
  color: rgb(0, 104, 31);
  background: rgba(80, 255, 80, 0.15);
}
