.login-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 15px;
  height: 650px;
  width: 450px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
}

.logo {
  transition: 0.5s ease-in-out;
  width: 300px;
}

.form {
  width: 80%;
}

.button {
  width: 100%;
  color: white;
  background-color: #25a732;
  margin-top: 20px;
  padding: 15px 0;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;
}

.button:hover {
  cursor: pointer;
  background-color: #32c741;
}

.button:focus {
  outline: none;
}

@media (max-width: 500px) {
  .login-form,
  .form {
    height: 550px;
    width: 90%;
  }

  .logo {
    width: 200px;
  }
}
