.add-restock {
  width: 100%;
  height: 95%;
  /* margin: 20px 0px; */
}

.header {
  text-align: center;
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading {
  width: 100%;
  text-align: start;
  color: #25a732;
  font-size: 30px;
  border-bottom: 1px solid #25a732;
  padding-top: 10px;
}

.container {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  max-width: 1500px;
}

.img {
  display: block;
  max-width: 55%;
  border: 1px solid lightgray;
  border-radius: 5%;
  margin: 0 auto;
}

.left-inner-container,
.right-inner-container {
  width: 49%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 20px 80px;
  transition: 0.3s ease-in;
}

.image {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.5);
}

.image-input {
  margin-top: 20px;
}

@media (max-width: 1100px) {
  .add-restock {
    margin-top: -35px !important;
    height: auto;
    padding-bottom: 50px;
  }

  .container {
    flex-flow: column;
  }

  .left-inner-container,
  .right-inner-container {
    width: 80%;
    height: 49%;
  }
}

@media (max-width: 700px) {
  .left-inner-container,
  .right-inner-container {
    width: 100%;
    padding: 0;
  }

  .image {
    width: 70%;
  }
}
