.side-drawer{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 80%;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(100%);
    display: none;
}