.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.navigation-items {
  height: 65%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.navigation-item {
  margin: auto;
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 18%;
  width: 95%;
  transition: 0.3s ease-in;
  font-size: 14px;
  color: rgb(170, 170, 170);
  border-radius: 15px;
}

.navigation-item:hover {
  cursor: pointer;
  color: rgb(0, 104, 31);
  background: rgba(80, 255, 80, 0.15);
}

.logout-button {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 60px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s ease-in;
  width: 95%;
  margin: 0 auto;
  color: rgb(170, 170, 170);
  cursor: pointer;
}

.logout-button:hover {
  color: red;
}
