.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.navigation-items {
  height: 65%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.logout-button {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 60px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s ease-in;
  width: 95%;
  margin: 0 auto;
  color: rgb(170, 170, 170);
  cursor: pointer;
}

.logout-button:hover {
  color: red;
}
