.dashboard {
  height: 100%;
  width: 100%;
  /* background-color: white; */
  padding-top: 50px;
  padding-bottom: 50px;
}

.grid-container {
  margin-top: 20px !important;
}

.grid-button {
  margin: 10px !important;
  width: 35vw !important;
}

@media (max-width: 700px) {
  .grid-button {
    width: 60vw !important;
  }

  .dashboard {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
