.navbar {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
}

/* LEFT CONTAINER  OF NAVBAR*/
.left-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image {
  height: 90%;
}

.navigation-items {
  width: 600px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.navigation-item {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  padding: 3px 0;
  transition: 0.3s ease;
  border-bottom: 2px solid transparent;
}

.navigation-item:hover {
  color: #8abb7b;
  text-decoration: none;
  border-bottom: 2px solid #8abb7b;
}

.navigation-item:focus {
  outline: none;
}

/****************************/

/* RIGHT CONTAINER OF NAVBAR */
.right-container {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-image {
  height: 50px;
  width: 50px;
  box-shadow: 0 0 10px rgba(145, 145, 145, 0.6);
  border-radius: 50%;
}

.user-info {
  margin-left: 15px;
  min-width: 100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.name {
  font-size: 16px;
}

.logout {
  font-size: 14px;
  color: rgb(56, 56, 56);
  transition: color 0.3s ease;
}

.logout:hover {
  cursor: pointer;
  color: rgb(216, 20, 20);
}
/****************************/

@media(max-width: 1100px){
  .navigation-items, .user-image, .user-info{
    display: none;
  }
}