.layout {
  min-height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  height: 80px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 2;
}

.main {
  width: 80%;
  min-height: 1000px;
}

.footer {
  height: 60px;
  width: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 1100px) {
  .main {
    min-height: 500px;
    padding-top: 120px;
    padding-bottom: 50px;
    width: 95%;
  }

  .navbar {
    position: fixed;
  }
}
